/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffffd9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(6px);
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

nav ul li a:hover {
    color: #0078ff;
}

/* PARALLAX BACKGROUND */
.parallax {
    background-image: url("Main\ Photo.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* CONTENT */
.content {
    padding: 80px 40px;
    text-align: center;
    font-size: 20px;
}

/* FADE-IN ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-img {
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 0;
}


footer {
    background: #222;
    color: white;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

.footer-links {
    margin-bottom: 12px;
}

.footer-links a {
    color: #bbbbbb;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #fff;
}
